data/*
*.pyc
*.swp
npi_old
.idea
lm_diagnoser/models/gulordava
lm_diagnoser/embeddings/data/extracted
lm_diagnoser/.ipynb_checkpoints
lm_diagnoser/corpus/data/raw
lm_diagnoser/.mypy_cache
lm_diagnoser/test_notebook.ipynb
