data/*
*.pyc
*.swp
npi_old
.idea
lm_diagnoser/.ipynb_checkpoints
lm_diagnoser/.mypy_cache
lm_diagnoser/test_notebook.ipynb
lm_data/activations/extracted
lm_data/classifiers/logreg
lm_data/corpora/labeled
lm_data/corpora/raw
lm_data/models/gulordava
